<div class="nav">
    <div class="nav-left">
        <a href="#" class="nav-left__style">
            <img src="/public/img/SVG/menu-custom.svg" alt="Menu" class="nav-left__menu">
        </a>
        <div class="nav-left__links">
            <a href="#" class="nav-left__style">Home</a>
            <a href="#" class="nav-left__style">Shop</a>
            <a href="#" class="nav-left__style">Magazine</a>
        </div>
       
    </div>


    <div class="nav-right">
        <form action="#" class="nav-right__search">
            <button class="nav-right__search--button">
                <svg class="nav-right__icon">
                    <use xlink:href="/public/img/SVG/sprite.svg#icon-search"></use>
                </svg>
            </button>
            <input type="search" class="nav-right__search--input" placeholder="search here..">
        </form>
        <a href="#">
            <svg class="nav-right__icon">
                    <use xlink:href="/public/img/SVG/sprite.svg#icon-shopping-cart"></use>
                </svg>
        </a>

        <a href="#" class="nav-right__style">
                Login
            </a>
    </div>
</div>